<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/KeepitSimple/css/style.css'))}}
  {{response.files.append(URL(request.application,'static','css/bootstrap.min.css'))}}
  {{response.files.append(URL('static','plugin_layouts/superfish.js'))}}
  {{include 'web2py_ajax.html'}}
  <style>
ul.web2py-menu-vertical { width: 150px; position: relative; top:1em; left:1em;  z-index:30; border:0; margin:0; padding: 0; list-style: none; text-decoration: none;}
ul.web2py-menu-vertical li { margin:0; padding:0; border:0; width: 150px; background: black; text-align:left;}
ul.web2py-menu-vertical li a { margin:0; padding: 1px 3px 1px 3px; border:0; width: 144px; color: white; font-size:12px;}
div.flash { position: fixed; float: right; padding: 10px; top: 10px; right: 30px; opacity: 0.75; margin: 10px 10px 10px 10px; text-align: center; clear: both; color: #fff; font-size: 11pt; text-align: center; vertical-align: middle; cursor: pointer; background: black; border: 2px solid #fff; -moz-border-radius: 5px; -webkit-border-radius: 5px; z-index: 2; }
div.error { background-color: red; color: white; padding: 3px; }
.auth_navbar { text-align:right; z-index:20; position: absolute; top: 2px; right:30px; border:0; padding:0 }
  </style>
 </head>
 <body>
  <!-- start header -->


  <div id="container">
   <div id="header">
    <a href="#">
     Keep it Simple Lottery
    </a>
   </div>
   <nav class="navbar navbar-default">
      <div class="container-fluid">
      <div class="navbar-header">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        {{=MENU(response.menu,_class='nav navbar-nav')}}
        {{try:}}{{=auth.navbar(action=URL('default','user'))}}{{except:pass}}
        </ul>

    </div>
    </div>
    </div>
  </nav>
<!--   <div id="sidebar">
    <h1>
     {{=response.title or request.application}}
    </h1>
  </div> -->
   <div id="main">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
  </div>
 </body>
</html>
